@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-dot-pattern {
        background-size: 24px 24px;
    }
}

html,
body {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}